<nav class="navbar navbar-fixed-top white-bg" role="navigation">
  <div class="row top-nav-bar">
    <div class="navbar-header">
      <span minimaliza-sidebar></span>
    </div>
    <div role="search" class="navbar-form-custom">
      <div class="form-group">
        <input type="text" placeholder="Search...." class="form-control search-text" name="top-search" id="top-search">
      </div>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <logout></logout>
      </li>
    </ul>
  </div>
</nav>
