<div class="m-b-lg">
  <div class="row">
    <div class="col-md-3 m-t-md">
      <h3>Workers</h3>
    </div>
  </div>
  <hr class="fixed" />
  <div class="row page-content-list">
    <div class="col-xs-12">
      <div class="box-table-list">
        <div class="text-center" id="progress-overlay" ng-if="workersList.isLoading">
          <div id="progress-pane-uploading" class="bounceInUp progress-pane">
            <div class="sk-spinner sk-spinner-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
            Loading...
          </div>
        </div>
        <div class="box-table-content text-center" ng-if="workersList.workers.length == 0 && !workersList.isLoading">
          Not any worker found!!!
        </div>
        <div class="box-table-content" ng-if="workersList.workers.length != 0">
          <div class="col-lg-6" ng-repeat="worker in workersList.workers">
            <div class="contact-box">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="img/no_image.jpg">
                </div>
              </div>
              <div class="col-sm-8">
                <star-rating ng-model="worker.rating" readonly="true"></star-rating>
                <h3><strong>{{worker.first_name}} {{worker.last_name}}</strong></h3>
                <p class="ellipsis-text"><i class="fa fa-email"></i>{{worker.email}}</p>
                <address class="ellipsis-text">
                  <span ng-if="worker.address"><br>{{worker.address}}</span>
                  <span ng-if="worker.city || worker.city || worker.zip"><br>{{worker.city}}, {{worker.address_state}} {{worker.zip}}</span>
                  <span ng-if="worker.dob"><br><abbr>Dob:</abbr>{{worker.dob}}</span>
                </address>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="box-table-footer text-center m-b-md" ng-if="!workersList.isLoading">
          <paging  page="workersList.currentPage"  page-size="workersList.itemsPerPage"  total="5000">
          </paging>
        </div>
      </div>
    </div>
  </div>
</div>
